.slider.swiper-container
  .swiper-wrapper
    .slide.swiper-slide
      img(src="img/background-slider.png", alt="alt")
      .slide__text
        p.slide__heading-top Unique and Modern Design
        h1.slide__heading Portfolio PSD Template
        p.slide__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
        .btn-container
          button.btn.btn-start(type='submit') get started
    .slide.swiper-slide
      img(src="img/background-slider.png", alt="alt")
      .slide__text
        p.slide__heading-top Unique and Modern Design
        h1.slide__heading Portfolio PSD Template
        p.slide__desc Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
        .btn-container
          button.btn.btn-start(type='submit') get started
  .swiper-button-next
  .swiper-button-prev
  .swiper-pagination
