nav.nav
  .logo
    img(src="img/logo.png", alt="logo")
  .nav__container
    ul.menu
      li.menu__item
        a(href="") Home
      li.menu__item
        a(href="") About us
      li.menu__item
        a(href="") Portfolio
      li.menu__item
        a(href="") Features
      li.menu__item
        a(href="") Blog
      li.menu__item
        a(href="") Pricing
      li.menu__item
        a(href="") Shortcodes
      li.menu__item
        a(href="") Contact
    .users-links
      img(src="img/icon-cart.png", alt="basket").basket
      .search
        img(src="img/icon-search.png", alt="search").search__img
        input(type="text" placeholder="Search").search__input
