.projects-container
  ul.tabs
    li.tabs__item
      a(href="") All
    li.tabs__item
      a(href="") Web Design
    li.tabs__item
      a(href="") Mobile App
    li.tabs__item
      a(href="") Illustration
    li.tabs__item
      a(href="") Photography
  ul.projects-list
    li.projects-item
      .projects-item__img-over
        img(src="img/projects/Photo-5.png", alt="alt").projects-item__img
        .projects-item__shadow
        .projects-item__icon.link
          a(href="")
            include __svg-link
        .projects-item__icon.zoom
          a(href="")
            include __svg-zoom
      .projects-item__desc
        p.projects-item__name Claritas Etiam Processus
        p.projects-item__category Photography, Nature
    li.projects-item
      .projects-item__img-over
        img(src="img/projects/Photo-4.png", alt="alt").projects-item__img
        .projects-item__shadow
        .projects-item__icon.link
          a(href="")
            include __svg-link
        .projects-item__icon.zoom
          a(href="")
            include __svg-zoom
      .projects-item__desc
        p.projects-item__name Quam Nutamus Farum
        p.projects-item__category Graphic Design, Mock-Up
    li.projects-item
      .projects-item__img-over
        img(src="img/projects/Photo-3.png", alt="alt").projects-item__img
        .projects-item__shadow
        .projects-item__icon.link
          a(href="")
            include __svg-link
        .projects-item__icon.zoom
          a(href="")
            include __svg-zoom
      .projects-item__desc
        p.projects-item__name Usus Legentis Videntur
        p.projects-item__category Photography, Holiday
    li.projects-item
      .projects-item__img-over
        img(src="img/projects/Photo-2.png", alt="alt").projects-item__img
        .projects-item__shadow
        .projects-item__icon.link
          a(href="")
            include __svg-link
        .projects-item__icon.zoom
          a(href="")
            include __svg-zoom
      .projects-item__desc
        p.projects-item__name Claritas Etiam Processus
        p.projects-item__category Photography, Nature
    li.projects-item
      .projects-item__img-over
        img(src="img/projects/Photo-1.png", alt="alt").projects-item__img
        .projects-item__shadow
        .projects-item__icon.link
          a(href="")
            include __svg-link
        .projects-item__icon.zoom
          a(href="")
            include __svg-zoom
      .projects-item__desc
        p.projects-item__name Quam Nutamus Farum
        p.projects-item__category Graphic Design, Mock-Up
    li.projects-item
      .projects-item__img-over
        img(src="img/projects/Photo.png", alt="alt").projects-item__img
        .projects-item__shadow
        .projects-item__icon.link
          a(href="")
            include __svg-link
        .projects-item__icon.zoom
          a(href="")
            include __svg-zoom
      .projects-item__desc
        p.projects-item__name Usus Legentis Videntur
        p.projects-item__category Photography, Holiday
