section.about
  .video-wrapper
    .video-container
      video(autoplay="true" preload muted="true" loop="true").video-background
        source(src="video/video.mp4")
  .wrapper
    include ../blocks/__about-desc
    include ../blocks/__about-showreel
