section.banner
  .wrapper
    .banner__text
      p.banner__heading
        span.active Waxom
        span  Multipurpose WordPress Theme
      p.banner__desc Don't Forget to Rate the Template. Thanks so much!
    .banner__btn-container
      button.link.btn-start(href="") Purchase now
