footer.footer
  .wrapper
    .footer-container
      .footer-column
        img(src="img/logo.png", alt="logo").footer__logo
        p.footer-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
        a(href="").read-more.white Read More
      .footer-column
        p.footer-column__heading Recent Posts
        ul.posts-list
          li.posts-item
            a(href="")
              p.posts-item__date September 08, 2015
              p.posts-item__heading Lorem ipsum dolor sit amet, consectetuer adipiscing elit
          li.posts-item
            a(href="")
              p.posts-item__date September 08, 2015
              p.posts-item__heading Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
          li.posts-item
            a(href="")
              p.posts-item__date September 08, 2015
              p.posts-item__heading Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima
      .footer-column
        p.footer-column__heading Our Twitter
        ul.twitter-list
          li.twitter-item
            a(href="")
              p.twitter-item__heading
                a(href="").blue @waxom
                span  Cum soluta nobis eleifend option congue nihil imperdiet doming
              p.twitter-item__time 3 mins ago
          li.twitter-item
            a(href="")
              p.twitter-item__heading
                span Mirum est
                a(href="").blue  #envato
                span  notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum
              p.twitter-item__time 5 hours ago
          li.twitter-item
            a(href="")
              p.twitter-item__heading
                span Soluta nobis option
                a(href="").link  bit.ly/1Hniso7
              p.twitter-item__time 20 days ago
      .footer-column
        p.footer-column__heading Dribbble Widget
        ul.dribbble-list
          li.dribbble-item
            .dribbble-item__img-over
              img(src="img/dribble-widget/01.png", alt="alt").dribbble-item__img
          li.dribbble-item
            .dribbble-item__img-over
              img(src="img/dribble-widget/02.png", alt="alt").dribbble-item__img
          li.dribbble-item
            .dribbble-item__img-over
              img(src="img/dribble-widget/03.png", alt="alt").dribbble-item__img
          li.dribbble-item
            .dribbble-item__img-over
              img(src="img/dribble-widget/04.png", alt="alt").dribbble-item__img
section.footer-bottom
  .wrapper
    ul.footer-menu
      li.footer-menu__item
        a(href="")
         span Copyright © 2015
         span.white  Waxom
      li.footer-menu__item
        a(href="") Privacy Policy
      li.footer-menu__item
        a(href="") FAQ
      li.footer-menu__item
        a(href="") Support
    ul.footer-menu
      li.footer-menu__item
        a(href="")
          span Designed by
          span.white  ThemeFire
      li.footer-menu__item
        a(href="")
          span Only on
          span.white  Envato Market
