section.ideas
  .wrapper
    h2.section__heading Waxom is Realization of your Ideas.
    p.section__desc Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
    img(src="img/browsers.png", alt="browsers").browsers-img
