section.logos
  .wrapper
    ul.logos-list
      li.logos-item
        a(href="").first
      li.logos-item
        a(href="").second
      li.logos-item
        a(href="").third
      li.logos-item
        a(href="").fourth
