section.mobile
  .wrapper
    img(src="img/hand-w-phone.png", alt="alt").mobile__phone
    .mobile-container
      h2.mobile__heading Excellent for Mobile Devices.
      p.mobile__desc Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
      ul.mobile-list
        li.mobile-item
          p Nam liber tempor cum soluta nobis eleifend option;
        li.mobile-item
          p Option congue nihil imperdiet doming id quod mazim placerat facer;
        li.mobile-item
          p Eodem modo typi, qui nunc nobis videntur parum futurum;
        li.mobile-item
          p Investigationes demonstraverunt lectores
