section.numbers
  .wrapper
    ul.numbers-list
      li.numbers-item
        span.numbers-item__icon.first
        span.numbers-item__num 3587
        span.numbers-item__name satisfied clients
      li.numbers-item
        span.numbers-item__icon.second
        span.numbers-item__num 207
        span.numbers-item__name cups of coffee
      li.numbers-item
        span.numbers-item__icon.third
        span.numbers-item__num 2500
        span.numbers-item__name blog posts
      li.numbers-item
        span.numbers-item__icon.fourth
        span.numbers-item__num 873
        span.numbers-item__name likes
      li.numbers-item
        span.numbers-item__icon.fifth
        span.numbers-item__num 900
        span.numbers-item__name we launched
