section.posts
  .wrapper
    h2.section__heading Recent Posts.
    p.section__desc Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
    .posts-slider
      .swiper-wrapper
        .posts-slide.swiper-slide
          .posts-slide__img-over
            img(src="img/posts/Photo-2.jpg", alt="alt").posts-slide__img
            .posts-slide__shadow
            .posts-slide__date
              span.posts-slide__date-num 30
              span.posts-slide__date-month Sep.
          .posts-slide__text
            p.posts-slide__name Lorem ipsum dolor sit amet
            p.posts-slide__desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
            a(href="").read-more Read More
        .posts-slide.swiper-slide
          .posts-slide__img-over
            img(src="img/posts/Photo-1.jpg", alt="alt").posts-slide__img
            .posts-slide__shadow
            .posts-slide__date
              span.posts-slide__date-num 30
              span.posts-slide__date-month Sep.
          .posts-slide__text
            p.posts-slide__name Lorem ipsum dolor sit amet
            p.posts-slide__desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
            a(href="").read-more Read More
        .posts-slide.swiper-slide
          .posts-slide__img-over
            img(src="img/posts/Photo.jpg", alt="alt").posts-slide__img
            .posts-slide__shadow
            .posts-slide__date
              span.posts-slide__date-num 30
              span.posts-slide__date-month Sep.
          .posts-slide__text
            p.posts-slide__name Lorem ipsum dolor sit amet
            p.posts-slide__desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
            a(href="").read-more Read More
      .posts-button-next
      .posts-button-prev
