section.video
  video(preload="" autoplay="autoplay" muted="muted" loop="loop" poster="img/video-poster.png").video__content
    source(src="video/video.mp4" type="video/mp4")
  a(href="https://www.youtube.com/watch?v=vYPYgHwf2KA" target="_blank").btn.btn-video
    img(src="img/play-video.png", alt="alt")
  h2.video__name Waxom Video Presentation
  p.video__desc Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.
  span.video__date 03.26
