section.video
  img(src="img/video-poster.png", alt="alt")
  button.btn.btn-video(type='submit')
    img(src="img/play-video.png", alt="alt")
  h2.video__name Waxom Video Presentation
  p.video__desc Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.
  span.video__date 03.26
