@media screen and (max-width:1280px)
  .wrapper
    max-width: 960px
@media screen and ( max-width: 1000px )
  .wrapper
    max-width: 800px
@media screen and ( max-width: 876px )
  .wrapper
    max-width: 700px
@media screen and ( max-width: 768px )
  .wrapper
    max-width: 470px
    padding: 0 15px
@media screen and ( max-width: 500px )
  .wrapper
    max-width: 370px
@media screen and ( max-width: 400px )
  .wrapper
    max-width: 300px
    padding: 0 10px
@import sections/mheader
@import sections/mservices
