.wrapper {
  max-width: 1230px;
  height: 100%;
  padding: 0 30px;
  margin: 0 auto;
  z-index: 1; }

.nav {
  position: absolute;
  top: 0;
  left: calc(50% - 615px);
  z-index: 2;
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .nav__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px; }
  .menu__item {
    margin-right: 30px; }
    .menu__item a {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      color: #ffffff;
      font-size: 14px;
      transition: all 0.4s; }
      .menu__item a:hover {
        color: #c7b299;
        transition: all 0.4s; }

.users-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }
  .users-links .basket {
    margin-right: 30px; }
  .users-links .search {
    position: relative; }
    .users-links .search__img:hover + .search__input {
      width: 200px;
      padding: 10px 5px;
      transition: all 0.4s; }
    .users-links .search__input {
      position: absolute;
      right: 0;
      width: 0px;
      height: 35px;
      top: -2px;
      font-size: 14px;
      padding: 0;
      border: none;
      border-radius: 3px;
      transition: all 0.4s;
      color: #555555; }
      .users-links .search__input:hover {
        width: 200px;
        padding: 10px 5px;
        transition: all 0.4s; }
      .users-links .search__input:focus {
        width: 200px;
        padding: 10px 5px;
        transition: all 0.4s; }
      .users-links .search__input:active {
        width: 200px;
        padding: 10px 5px;
        transition: all 0.4s; }

.mobile-menu {
  display: none; }

.slider {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  list-style: none;
  padding: 0; }

.slide {
  width: 100%;
  height: 100%;
  position: relative; }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .slide__text {
    position: absolute;
    top: 380px;
    left: calc(50% - 295px);
    max-width: 590px; }
  .slide__heading-top {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 12px; }
  .slide__heading {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 52px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px; }
  .slide__desc {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 45px; }

.btn-container {
  text-align: center; }

.btn-start {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 35px;
  padding-bottom: 18px;
  border-bottom: 3px solid #736357;
  border-radius: 2px;
  background-color: #998675;
  margin: 0 auto;
  transform: scale(1);
  transition: all 0.4s; }
  .btn-start:hover {
    transform: scale(0.9);
    transition: all 0.4s; }

.swiper-button-next, .swiper-button-prev {
  width: 40px;
  height: 73px;
  background-repeat: no-repeat; }
  .swiper-button-next::after, .swiper-button-prev::after {
    display: none; }

.swiper-button-next {
  background-image: url("../img/right.png");
  right: 150px; }

.swiper-button-prev {
  background-image: url("../img/left.png");
  left: 150px; }

.swiper-button-next.swiper-button-disabled {
  background-image: url("../img/right-dis.png"); }

.swiper-button-prev.swiper-button-disabled {
  background-image: url("../img/left-dis.png"); }

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, 0.5);
  border: 0px solid #d3c1ad;
  opacity: 1; }

.swiper-pagination-bullet-active {
  background: none;
  border: 2px solid #d3c1ad;
  width: 16px;
  height: 16px; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 40px; }

.header {
  width: 100%;
  height: 100vh; }

.logo:hover {
  animation: logo-flip 1s linear 0.4s; }

.services-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 80px; }

.services-item__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 25px; }
  .services-item__link::after {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    position: absolute;
    bottom: 0;
    left: calc( 50% - 35px);
    transition: all 0.4s; }
  .services-item__link:hover svg {
    animation: logo-flip 1s linear 0.4s; }
    .services-item__link:hover svg path {
      fill: #c7b299;
      transition: all 0.4s; }
  .services-item__link:hover .services-item__name {
    color: #c7b299;
    transition: all 0.4s; }
  .services-item__link:hover::after {
    background-color: #c7b299;
    transition: all 0.4s; }

.services-item__icon {
  margin-bottom: 30px; }

.services-item__name {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #555555;
  margin-bottom: 18px;
  transition: all 0.4s; }

.services-item__desc {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #8c8c8c;
  text-align: center;
  max-width: 280px; }

.ideas {
  background-color: #fbfaf8;
  padding-top: 80px; }

.section__heading {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
  margin-bottom: 25px;
  text-align: center; }

.section__desc {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300px;
  line-height: 24px;
  color: #8c8c8c;
  margin-bottom: 30px;
  text-align: center;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto; }

.browsers-img {
  display: block;
  width: 100%;
  object-fit: cover; }

.banner {
  background: #211b19;
  background: linear-gradient(90deg, #211b19 0%, #34251f 35%, #4e3427 100%); }
  .banner .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .banner__text {
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
  .banner__btn-container {
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px; }
  .banner__heading {
    margin-bottom: 5px; }
    .banner__heading span {
      font-family: "Raleway", sans-serif;
      font-size: 28px;
      color: #ffffff;
      font-weight: 400; }
      .banner__heading span.active {
        color: #c7b299; }
  .banner__desc {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #615855; }

.projects {
  padding-top: 80px;
  padding-bottom: 80px; }

.btn-container {
  margin-top: 10px; }

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px; }
  .tabs__item {
    margin-right: 10px; }
    .tabs__item:last-child {
      margin-right: 0; }
    .tabs__item a {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      color: #8c8c8c;
      padding: 5px 17px;
      border: 1px solid #ebebeb;
      border-radius: 3px;
      background-color: transparent;
      transition: all 0.4s; }
      .tabs__item a:hover {
        background-color: #998675;
        border: 1px solid #998675;
        color: #ffffff;
        transition: all 0.4s; }
    .tabs__item.active a {
      background-color: #998675;
      border: 1px solid #998675;
      color: #ffffff;
      transition: all 0.4s; }

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.projects-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px; }

.projects-item {
  max-width: 370px;
  max-height: 353px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s; }
  .projects-item:hover .projects-item__desc {
    background-color: #362f2d;
    transition: all 0.4s; }
  .projects-item:hover .projects-item__desc::before {
    background-image: url("../img/projects/arrow-dark.png");
    transition: all 0.4s; }
  .projects-item:hover .projects-item__shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.4s; }
  .projects-item:hover .projects-item__icon {
    opacity: 1;
    visibility: visible;
    transition: all 0.4s; }
  .projects-item__img {
    width: 100%;
    display: block;
    z-index: 1; }
    .projects-item__img-over {
      position: relative; }
  .projects-item__shadow {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.4s;
    z-index: 2; }
  .projects-item__icon {
    position: absolute;
    top: 100px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s; }
    .projects-item__icon:hover svg path {
      fill: #c7b299;
      transition: all 0.4s; }
    .projects-item__icon.link {
      left: 145px; }
    .projects-item__icon.zoom {
      left: 200px; }
  .projects-item__desc {
    width: 100%;
    height: auto;
    background-color: #fbfaf8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 35px 30px;
    position: relative;
    transition: all 0.4s; }
    .projects-item__desc::before {
      content: "";
      background-image: url(../img/projects/arrow.png);
      background-repeat: no-repeat;
      width: 30px;
      height: 10px;
      position: absolute;
      top: -10px;
      left: 20px;
      transition: all 0.4s;
      z-index: 3; }
  .projects-item__name {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #c7b299;
    margin-bottom: 10px; }
  .projects-item__category {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #d1d1d1; }

.video {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  height: 700px; }
  .video__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    object-fit: cover; }
  .video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .video__name {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    max-width: 400px;
    top: 355px;
    left: calc( 50% - 200px); }
  .video__desc {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    max-width: 570px;
    position: absolute;
    top: 405px;
    left: calc( 50% - 285px);
    line-height: 24px; }
  .video__date {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #c7b299;
    text-align: center;
    position: absolute;
    max-width: 60px;
    top: 490px;
    left: calc( 50% - 30px); }

.btn-video {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 210px;
  left: calc( 50% - 50px); }

.mobile {
  background-color: #fbfaf8;
  padding-top: 80px; }
  .mobile .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
  .mobile img {
    display: block;
    width: 100%;
    height: 100%; }
  .mobile__phone {
    max-width: 345px; }
    .mobile__phone:hover {
      animation: mobile-rotate 0.5s linear 0.1s; }
  .mobile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 110px; }
  .mobile__heading {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
    margin-bottom: 35px; }
  .mobile__desc {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #8c8c8c;
    line-height: 28px;
    margin-bottom: 35px;
    width: 660px; }
  .mobile-list {
    padding-left: 60px;
    display: flex;
    flex-direction: column; }
  .mobile-item p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #8c8c8c;
    padding-left: 50px;
    position: relative;
    margin-bottom: 5px; }
    .mobile-item p::before {
      content: "";
      width: 21px;
      height: 21px;
      background-image: url("../img/list-arrow.png");
      background-repeat: no-repeat;
      position: absolute;
      top: 5px;
      left: 0; }

.numbers {
  background: #211b19;
  background: linear-gradient(90deg, #211b19 0%, #34251f 35%, #4e3427 100%);
  padding-top: 70px;
  padding-bottom: 60px; }
  .numbers-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; }
  .numbers-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 30px;
    position: relative; }
    .numbers-item:hover .numbers-item__icon {
      animation: logo-flip 1s linear 0.4s; }
    .numbers-item::after {
      content: "";
      width: 30px;
      height: 2px;
      background-color: #ffffff;
      position: absolute;
      bottom: 0;
      left: calc( 50% - 15px); }
    .numbers-item__num {
      font-family: "Montserrat", sans-serif;
      font-weight: 200;
      font-size: 48px;
      color: #ffffff;
      margin-bottom: 15px; }
    .numbers-item__name {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #c7b299;
      text-transform: uppercase; }
    .numbers-item__icon {
      margin-bottom: 25px; }
      .numbers-item__icon.first {
        width: 44px;
        height: 44px;
        background: url("../img/css_sprites.png") -152px -10px; }
      .numbers-item__icon.second {
        width: 48px;
        height: 44px;
        background: url("../img/css_sprites.png") -84px -10px; }
      .numbers-item__icon.third {
        width: 44px;
        height: 44px;
        background: url("../img/css_sprites.png") -74px -74px; }
      .numbers-item__icon.fourth {
        width: 44px;
        height: 44px;
        background: url("../img/css_sprites.png") -10px -74px; }
      .numbers-item__icon.fifth {
        width: 54px;
        height: 44px;
        background: url("../img/css_sprites.png") -10px -10px; }

.posts {
  padding-top: 80px;
  padding-bottom: 80px; }
  .posts-slider {
    margin: 0 auto;
    margin-top: 35px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    position: relative;
    padding-bottom: 60px; }
  .posts-slide {
    max-width: 370px;
    max-height: 395px; }
    .posts-slide:hover .posts-slide__text {
      background-color: #362f2d;
      border: 1px solid #362f2d;
      border-top: none;
      transition: all 0.4s; }
    .posts-slide:hover .posts-slide__shadow {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      transition: all 0.4s; }
    .posts-slide:hover .posts-slide__name {
      color: #c7b299;
      transition: all 0.4s; }
    .posts-slide:hover .posts-slide__desc {
      color: #ffffff;
      transition: all 0.4s; }
    .posts-slide:hover .posts-slide__date-num {
      background-color: #c7b299;
      transition: all 0.4s; }
    .posts-slide:hover .posts-slide__date-month {
      background-color: #a48d72;
      transition: all 0.4s; }
    .posts-slide__img {
      width: 100%;
      display: block;
      z-index: 1; }
    .posts-slide-over {
      position: relative; }
    .posts-slide__shadow {
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0);
      transition: all 0.4s;
      z-index: 2;
      transition: all 0.4s; }
    .posts-slide__text {
      width: 100%;
      height: auto;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 35px 30px;
      position: relative;
      transition: all 0.4s;
      border: 1px solid #f8f8f8;
      border-top: none;
      transition: all 0.4s;
      z-index: 3; }
    .posts-slide__name {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: #555555;
      margin-bottom: 15px;
      transition: all 0.4s; }
    .posts-slide__desc {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #8c8c8c;
      margin-bottom: 20px;
      transition: all 0.4s; }
    .posts-slide__date {
      position: absolute;
      top: 20px;
      left: 20px;
      display: flex;
      flex-direction: column;
      z-index: 3; }
      .posts-slide__date-num {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 24px;
        color: #ffffff;
        padding: 7px 9px;
        background-color: #363636;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
        text-align: center;
        transition: all 0.4s; }
      .posts-slide__date-month {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: #ffffff;
        padding: 7px 9px;
        background-color: #252525;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        text-align: center;
        transition: all 0.4s; }

.read-more {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #c7b299;
  padding-right: 15px;
  position: relative; }
  .read-more::before {
    content: "";
    width: 5px;
    height: 8px;
    background-image: url("../img/readmore-arrow.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 4px;
    right: 0; }

.posts-button-next, .posts-button-prev {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 50%; }

.posts-button-next {
  background-image: url("../img/posts/right.png");
  left: calc( 50% + 15px); }

.posts-button-prev {
  background-image: url("../img/posts/left.png");
  left: calc( 50% - 15px); }

.logos {
  background-image: url("../img/logos-back.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 489px;
  display: block; }
  .logos .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .logos-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .logos-item a {
    display: block; }
    .logos-item a:hover {
      animation: logo-flip 1s linear 0.4s; }
  .logos-item .first {
    width: 210px;
    height: 127px;
    background: url("../img/logo_sprites.png") -240px -240px; }
  .logos-item .second {
    width: 210px;
    height: 210px;
    background: url("../img/logo_sprites.png") -10px -10px; }
  .logos-item .third {
    width: 210px;
    height: 130px;
    background: url("../img/logo_sprites.png") -10px -240px; }
  .logos-item .fourth {
    width: 210px;
    height: 164px;
    background: url("../img/logo_sprites.png") -240px -10px; }

.footer {
  background-color: #191919;
  padding-top: 80px;
  padding-bottom: 80px; }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
  .footer-desc {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    width: 265px;
    margin-bottom: 30px; }
  .footer__logo {
    margin-bottom: 25px; }
  .footer-column {
    width: 270px;
    margin-top: 20px; }
    .footer-column:first-child {
      margin-top: 0; }
    .footer-column__heading {
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 30px; }

.posts-item {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .posts-item:hover .posts-item__date {
    color: #ffffff;
    transition: all 0.4s; }
  .posts-item:hover .posts-item__heading {
    color: #c7b299;
    transition: all 0.4s; }
  .posts-item:last-child {
    border-bottom: none; }
  .posts-item:first-child {
    padding-top: 0; }
  .posts-item__date {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #363636;
    margin-bottom: 5px;
    transition: all 0.4s; }
  .posts-item__heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    transition: all 0.4s; }

.twitter-item {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer; }
  .twitter-item:hover .twitter-item__time {
    color: #ffffff;
    transition: all 0.4s; }
  .twitter-item:hover .twitter-item__heading span {
    color: #c7b299;
    transition: all 0.4s; }
  .twitter-item:last-child {
    border-bottom: none; }
  .twitter-item:first-child {
    padding-top: 0; }
  .twitter-item__time {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #363636;
    margin-top: 5px; }
  .twitter-item__heading span, .twitter-item__heading a {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #555555; }

.dribbble-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.dribbble-item {
  margin-bottom: 10px;
  width: 130px;
  height: 100px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden; }
  .dribbble-item:hover .dribbble-item__img {
    -webkit-transform: scale(1.1) translateZ(0);
    transform: scale(1.1) translateZ(0); }
  .dribbble-item__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    -webkit-transition: .4s -webkit-transform;
    transition: .4s -webkit-transform;
    transition: .4s transform;
    transition: .4s transform, .4s -webkit-transform;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0); }
    .dribbble-item__img-over {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      min-height: 100%;
      overflow: hidden;
      display: block; }

a.blue {
  color: #00bff3; }

a.link {
  color: #959595; }

.read-more.white {
  color: #d1d1d1; }
  .read-more.white::before {
    background-image: url("../img/arrow-white.png"); }

.footer-bottom {
  background-color: #111111;
  padding-top: 40px;
  padding-bottom: 50px; }
  .footer-bottom .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; }

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline; }
  .footer-menu__item {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.2); }
    .footer-menu__item:first-child {
      padding-left: 0; }
    .footer-menu__item:last-child {
      border-right: none; }
    .footer-menu__item a {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 13px;
      color: #555555;
      transition: all 0.4s; }
      .footer-menu__item a:hover {
        color: #c7b299;
        transition: all 0.4s; }
      .footer-menu__item a span.white {
        color: #959595; }

@keyframes logo-flip {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  25% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg); }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  75% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@keyframes mobile-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@media screen and (max-width: 1366px) {
  .section__desc {
    font-size: 14px;
    margin-bottom: 30px; } }

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 960px; } }

@media screen and (max-width: 1000px) {
  .wrapper {
    max-width: 800px; } }

@media screen and (max-width: 876px) {
  .wrapper {
    max-width: 700px; }
  .section__heading {
    font-size: 25px; } }

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 470px;
    padding: 0 15px; }
  .section__desc {
    line-height: 21px; } }

@media screen and (max-width: 500px) {
  .wrapper {
    max-width: 370px; }
  .section__heading {
    font-size: 20px; }
  .posts-slide__name {
    font-size: 18px; }
  .projects-item__name {
    font-size: 18px; }
  .footer-column__heading {
    font-size: 18px; } }

@media screen and (max-width: 400px) {
  .wrapper {
    max-width: 300px;
    padding: 0 10px; } }

@media screen and (max-width: 1366px) {
  .slide__text {
    top: 250px; }
  .slide__heading-top {
    font-size: 30px; }
  .slide__heading {
    font-size: 40px; }
  .slide__desc {
    font-size: 14px;
    margin-bottom: 30px; }
  .swiper-button-next {
    right: 50px; }
  .swiper-button-prev {
    left: 50px; }
  .nav {
    max-width: 960px;
    left: calc(50% - 500px); }
  .logo img {
    width: 90px; }
  .menu {
    margin-right: 15px; }
    .menu__item {
      margin-right: 15px; } }

@media screen and (max-width: 1000px) {
  .nav {
    max-width: 800px;
    left: calc(50% - 400px); }
  .nav__container {
    position: relative; }
  .mobile-menu {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
    transition: all 0.4s;
    margin-right: 15px; }
    .mobile-menu:hover + .menu {
      top: 0;
      opacity: 1;
      visibility: visible;
      transition: all 0.4s; }
  .menu {
    flex-direction: column;
    background-color: #736357;
    padding: 15px;
    position: absolute;
    opacity: 0;
    top: -25px;
    left: -34px;
    visibility: hidden;
    transition: all 0.4s; }
    .menu:hover {
      top: 0;
      opacity: 1;
      visibility: visible;
      transition: all 0.4s; }
  .menu__item {
    margin-right: 0;
    padding-bottom: 10px; }
  .swiper-button-next, .swiper-button-prev {
    background-size: 20px 37px;
    width: 20px;
    height: 37px; } }

@media screen and (max-width: 876px) {
  .nav {
    max-width: 700px;
    left: calc(50% - 350px); }
  .slide__text {
    max-width: 420px;
    left: calc(50% - 210px); }
  .slide__heading-top {
    font-size: 25px; }
  .slide__heading {
    font-size: 35px; }
  .btn-start {
    padding: 15px 25px; }
  .swiper-button-next {
    right: 15px; }
  .swiper-button-prev {
    left: 15px; }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 20px; } }

@media screen and (max-width: 768px) {
  .nav {
    max-width: 470px;
    left: calc(50% - 235px);
    padding: 0 15px;
    padding-top: 15px; }
  .slide__text {
    max-width: 300px;
    left: calc(50%  - 150px); }
  .slide__heading-top {
    font-size: 20px; }
  .slide__heading {
    font-size: 25px; }
  .slide__desc {
    line-height: 21px; } }

@media screen and (max-width: 500px) {
  .nav {
    max-width: 370px;
    left: calc(50% - 185px); }
  .swiper-button-next, .swiper-button-prev {
    background-size: 15px 28px;
    width: 15px;
    height: 28px; } }

@media screen and (max-width: 400px) {
  .nav {
    max-width: 300px;
    left: calc(50% - 150px);
    padding: 0 10px;
    padding-top: 10px; }
  .slide__text {
    max-width: 260px;
    left: calc( 50% - 130px); }
  .slide__heading {
    line-height: 30px; }
  .slide__heading-top {
    line-height: 25px; }
  .swiper-button-next {
    right: 10px; }
  .swiper-button-prev {
    left: 10px; } }

@media screen and (max-width: 1280px) {
  .services-item {
    margin-bottom: 20px; } }

@media screen and (max-width: 500px) {
  .services-item__name {
    font-size: 18px; } }

@media screen and (max-width: 1000px) {
  .banner__heading span {
    font-size: 22px; }
  .banner__desc {
    font-size: 14px; }
  .banner__text {
    padding-left: 0px; }
  .banner__btn-container {
    padding-right: 0px; } }

@media screen and (max-width: 768px) {
  .banner .wrapper {
    flex-direction: column; }
  .banner__btn-container {
    padding-top: 0; }
  .banner__text {
    padding-bottom: 0;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 500px) {
  .banner__heading {
    text-align: center; }
    .banner__heading span {
      font-size: 20px;
      line-height: 25px; }
  .banner__desc {
    text-align: center;
    line-height: 20px; } }

@media screen and (max-width: 1280px) {
  .projects-list {
    justify-content: space-around; } }

@media screen and (max-width: 1000px) {
  .projects-item {
    margin-right: 1px;
    margin-left: 1px; } }

@media screen and (max-width: 768px) {
  .tabs {
    flex-wrap: wrap; }
    .tabs__item {
      margin-bottom: 20px; } }

@media screen and (max-width: 400px) {
  .projects-item__icon.zoom {
    left: 145px;
    top: 60px; }
  .projects-item__icon.link {
    left: 95px;
    top: 60px; } }

@media screen and (max-width: 1666px) {
  .video {
    height: 585px; } }

@media screen and (max-width: 1366px) {
  .video {
    height: 550px; } }

@media screen and (max-width: 1280px) {
  .video {
    height: 430px; }
  .btn-video {
    top: 85px; }
  .video__name {
    top: 210px; }
  .video__desc {
    top: 265px; }
  .video__date {
    top: 375px; } }

@media screen and (max-width: 1000px) {
  .video__content {
    object-fit: none; } }

@media screen and (max-width: 768px) {
  .btn-video {
    width: 70px;
    height: 70px;
    left: calc( 50% - 35px); }
  .video__name {
    top: 180px;
    font-size: 25px;
    left: calc( 50% - 160px); }
  .video__desc {
    top: 230px;
    font-size: 16px;
    max-width: 400px;
    left: calc( 50% - 200px); }
  .video__date {
    top: 345px; } }

@media screen and (max-width: 500px) {
  .video__name {
    font-size: 20px;
    left: calc( 50% - 125px); }
  .video__desc {
    font-size: 16px;
    max-width: 300px;
    left: calc( 50% - 150px); }
  .video__date {
    left: calc( 50% - 17px); } }

@media screen and (max-width: 1280px) {
  .mobile .wrapper {
    align-items: flex-end; }
  .mobile-container {
    margin-top: 0;
    margin-bottom: 25px; }
  .mobile__phone {
    min-width: 345px; }
  .mobile__desc {
    width: 500px; }
  .mobile-list {
    padding-left: 0; } }

@media screen and (max-width: 1000px) {
  .mobile__phone {
    min-width: 200px; } }

@media screen and (max-width: 876px) {
  .mobile__heading {
    font-size: 25px; }
  .mobile__desc {
    width: 350px; } }

@media screen and (max-width: 768px) {
  .mobile {
    padding-bottom: 80px; }
  .mobile__desc {
    line-height: 21px; }
  .mobile .mobile__phone {
    display: none; }
  .mobile__desc {
    width: auto; }
  .mobile-container {
    margin-left: 0; }
  .mobile-item p {
    padding-left: 30px; } }

@media screen and (max-width: 500px) {
  .mobile__heading {
    font-size: 20px; } }

@media screen and (max-width: 876px) {
  .numbers-item__num {
    font-size: 36px; } }

@media screen and (max-width: 768px) {
  .numbers-list {
    justify-content: space-around;
    flex-wrap: wrap; }
  .numbers-item {
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px; } }

@media screen and (max-width: 400px) {
  .numbers-list {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 876px) {
  .logos-list {
    flex-wrap: wrap; }
  .logos-item {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 768px) {
  .logos {
    background-size: cover;
    height: 100%;
    padding-top: 35px; }
  .logos-list {
    justify-content: center; }
  .logos-item {
    margin-bottom: 35px; } }

@media screen and (max-width: 1280px) {
  .footer-container {
    flex-wrap: wrap;
    justify-content: space-around; } }

@media screen and (max-width: 1000px) {
  .footer-bottom .wrapper {
    flex-direction: column; }
  .footer-menu {
    margin-bottom: 20px; } }

@media screen and (max-width: 500px) {
  .footer-menu {
    flex-direction: column;
    align-items: flex-start; }
  .footer-menu__item {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px;
    border-right: none; } }
