.wrapper {
  max-width: 1230px;
  height: 100%;
  padding: 0 30px;
  margin: 0 auto;
  z-index: 1; }

.nav {
  position: absolute;
  top: 0;
  left: calc(50% - 615px);
  z-index: 2;
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .nav__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px; }
  .menu__item {
    margin-right: 30px; }
    .menu__item a {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      color: #ffffff;
      font-size: 14px;
      transition: all 0.4s; }
      .menu__item a:hover {
        color: #c7b299;
        transition: all 0.4s; }

.users-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }
  .users-links .basket {
    margin-right: 30px; }
  .users-links .search {
    position: relative; }
    .users-links .search__img:hover + .search__input {
      width: 200px;
      padding: 10px 5px;
      transition: all 0.4s; }
    .users-links .search__input {
      position: absolute;
      right: 0;
      width: 0px;
      height: 35px;
      top: -2px;
      font-size: 14px;
      padding: 0;
      border: none;
      border-radius: 3px;
      transition: all 0.4s;
      color: #555555; }
      .users-links .search__input:hover {
        width: 200px;
        padding: 10px 5px;
        transition: all 0.4s; }
      .users-links .search__input:focus {
        width: 200px;
        padding: 10px 5px;
        transition: all 0.4s; }
      .users-links .search__input:active {
        width: 200px;
        padding: 10px 5px;
        transition: all 0.4s; }

.mobile-menu {
  display: none; }

.slider {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  list-style: none;
  padding: 0; }

.slide {
  width: 100%;
  height: 100%;
  position: relative; }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .slide__text {
    position: absolute;
    top: 380px;
    left: calc(50% - 295px);
    max-width: 590px; }
  .slide__heading-top {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 12px; }
  .slide__heading {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 52px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px; }
  .slide__desc {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 45px; }

.btn-container {
  text-align: center; }

.btn-start {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 35px;
  padding-bottom: 18px;
  border-bottom: 3px solid #736357;
  border-radius: 2px;
  background-color: #998675;
  margin: 0 auto;
  transform: scale(1);
  transition: all 0.4s; }
  .btn-start:hover {
    transform: scale(0.9);
    transition: all 0.4s;
    border-bottom: 0px solid #736357; }

.swiper-button-next, .swiper-button-prev {
  width: 40px;
  height: 73px;
  background-repeat: no-repeat; }
  .swiper-button-next::after, .swiper-button-prev::after {
    display: none; }

.swiper-button-next {
  background-image: url("../img/right.png");
  right: 150px; }

.swiper-button-prev {
  background-image: url("../img/left.png");
  left: 150px; }

.swiper-button-next.swiper-button-disabled {
  background-image: url("../img/right-dis.png"); }

.swiper-button-prev.swiper-button-disabled {
  background-image: url("../img/left-dis.png"); }

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, 0.5);
  border: 0px solid #d3c1ad;
  opacity: 1; }

.swiper-pagination-bullet-active {
  background: none;
  border: 2px solid #d3c1ad;
  width: 16px;
  height: 16px; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 40px; }

.header {
  width: 100%;
  height: 100vh; }

.services-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 80px; }

.services-item__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 25px; }
  .services-item__link::after {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    position: absolute;
    bottom: 0;
    left: calc( 50% - 35px);
    transition: all 0.4s; }
  .services-item__link:hover svg path {
    fill: #c7b299;
    transition: all 0.4s; }
  .services-item__link:hover .services-item__name {
    color: #c7b299;
    transition: all 0.4s; }
  .services-item__link:hover::after {
    background-color: #c7b299;
    transition: all 0.4s; }

.services-item__icon {
  margin-bottom: 30px; }

.services-item__name {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #555555;
  margin-bottom: 18px;
  transition: all 0.4s; }

.services-item__desc {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #8c8c8c;
  text-align: center;
  max-width: 280px; }

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 960px; } }

@media screen and (max-width: 1000px) {
  .wrapper {
    max-width: 800px; } }

@media screen and (max-width: 876px) {
  .wrapper {
    max-width: 700px; } }

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 470px;
    padding: 0 15px; } }

@media screen and (max-width: 500px) {
  .wrapper {
    max-width: 370px; } }

@media screen and (max-width: 400px) {
  .wrapper {
    max-width: 300px;
    padding: 0 10px; } }

@media screen and (max-width: 1366px) {
  .slide__text {
    top: 250px; }
  .slide__heading-top {
    font-size: 30px; }
  .slide__heading {
    font-size: 40px; }
  .slide__desc {
    font-size: 14px;
    margin-bottom: 30px; }
  .swiper-button-next {
    right: 50px; }
  .swiper-button-prev {
    left: 50px; }
  .nav {
    max-width: 960px;
    left: calc(50% - 500px); }
  .logo img {
    width: 90px; }
  .menu {
    margin-right: 15px; }
    .menu__item {
      margin-right: 15px; } }

@media screen and (max-width: 1000px) {
  .nav {
    max-width: 800px;
    left: calc(50% - 400px); }
  .nav__container {
    position: relative; }
  .mobile-menu {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
    transition: all 0.4s;
    margin-right: 15px; }
    .mobile-menu:hover + .menu {
      top: 0;
      opacity: 1;
      visibility: visible;
      transition: all 0.4s; }
  .menu {
    flex-direction: column;
    background-color: #736357;
    padding: 15px;
    position: absolute;
    opacity: 0;
    top: -25px;
    left: -34px;
    visibility: hidden;
    transition: all 0.4s; }
    .menu:hover {
      top: 0;
      opacity: 1;
      visibility: visible;
      transition: all 0.4s; }
  .menu__item {
    margin-right: 0;
    padding-bottom: 10px; }
  .swiper-button-next, .swiper-button-prev {
    background-size: 20px 37px;
    width: 20px;
    height: 37px; } }

@media screen and (max-width: 876px) {
  .nav {
    max-width: 700px;
    left: calc(50% - 350px); }
  .slide__text {
    max-width: 420px;
    left: calc(50% - 210px); }
  .slide__heading-top {
    font-size: 25px; }
  .slide__heading {
    font-size: 35px; }
  .btn-start {
    padding: 15px 25px; }
  .swiper-button-next {
    right: 15px; }
  .swiper-button-prev {
    left: 15px; }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 20px; } }

@media screen and (max-width: 768px) {
  .nav {
    max-width: 470px;
    left: calc(50% - 235px);
    padding: 0 15px;
    padding-top: 15px; }
  .slide__text {
    max-width: 300px;
    left: calc(50%  - 150px); }
  .slide__heading-top {
    font-size: 20px; }
  .slide__heading {
    font-size: 25px; }
  .slide__desc {
    line-height: 21px; } }

@media screen and (max-width: 500px) {
  .nav {
    max-width: 370px;
    left: calc(50% - 185px); }
  .swiper-button-next, .swiper-button-prev {
    background-size: 15px 28px;
    width: 15px;
    height: 28px; } }

@media screen and (max-width: 400px) {
  .nav {
    max-width: 300px;
    left: calc(50% - 150px);
    padding: 0 10px;
    padding-top: 10px; }
  .slide__text {
    max-width: 260px;
    left: calc( 50% - 130px); }
  .slide__heading {
    line-height: 30px; }
  .slide__heading-top {
    line-height: 25px; }
  .swiper-button-next {
    right: 10px; }
  .swiper-button-prev {
    left: 10px; } }

@media screen and (max-width: 1280px) {
  .services-item {
    margin-bottom: 20px; } }
