.wrapper {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  z-index: 1; }

.nav {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .nav__container {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px; }
  .menu__item {
    margin-right: 30px; }
    .menu__item a {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      color: #ffffff;
      font-size: 14px;
      transition: all 0.4s; }
      .menu__item a:hover {
        color: #c7b299;
        transition: all 0.4s; }

.users-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }
  .users-links .basket {
    margin-right: 30px; }
  .users-links .search {
    position: relative; }
    .users-links .search__img:hover + .search__input {
      width: 200px;
      padding: 10px 5px;
      transition: all 0.4s; }
    .users-links .search__input {
      position: absolute;
      right: 0;
      width: 0px;
      height: 35px;
      top: -2px;
      font-size: 14px;
      padding: 0;
      border: none;
      border-radius: 3px;
      transition: all 0.4s;
      color: #555555; }
      .users-links .search__input:hover {
        width: 200px;
        padding: 10px 5px;
        transition: all 0.4s; }
      .users-links .search__input:focus {
        width: 200px;
        padding: 10px 5px;
        transition: all 0.4s; }
      .users-links .search__input:active {
        width: 200px;
        padding: 10px 5px;
        transition: all 0.4s; }

.slider {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  list-style: none;
  padding: 0; }

.slide {
  width: 100%;
  height: 100%;
  position: relative; }
  .slide img {
    width: 100%;
    height: 100%; }
  .slide__text {
    position: absolute;
    top: 380px;
    left: 665px;
    max-width: 590px; }
  .slide__heading-top {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 12px; }
  .slide__heading {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 52px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px; }
  .slide__desc {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 45px; }

.btn-container {
  text-align: center; }

.btn-start {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 35px;
  padding-bottom: 18px;
  border-bottom: 3px solid #736357;
  border-radius: 2px;
  background-color: #998675;
  margin: 0 auto;
  transform: scale(1);
  transition: all 0.4s; }
  .btn-start:hover {
    transform: scale(0.9);
    transition: all 0.4s;
    border-bottom: 0px solid #736357; }

.swiper-button-next, .swiper-button-prev {
  width: 40px;
  height: 73px; }
  .swiper-button-next::after, .swiper-button-prev::after {
    display: none; }

.swiper-button-next {
  background-image: url("../img/right.png");
  right: 150px; }

.swiper-button-prev {
  background-image: url("../img/left.png");
  left: 150px; }

.swiper-button-next.swiper-button-disabled {
  background-image: url("../img/right-dis.png"); }

.swiper-button-prev.swiper-button-disabled {
  background-image: url("../img/left-dis.png"); }

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: rgba(255, 255, 255, 0.5);
  border: 0px solid #d3c1ad;
  opacity: 1; }

.swiper-pagination-bullet-active {
  background: none;
  border: 2px solid #d3c1ad;
  width: 16px;
  height: 16px; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 40px; }

.header {
  width: 100%;
  header: 100%; }
