.showreel
  .showreel-head
    h2.common-h2.showreel-heading 27 крутых проектов за 2018 год
    a(href="").showreel-button.showreel-button__on
    h2.common-h2.showreel-heading Смотрите Showreel
  .showreel-bottom
    p.common-text-white.showreel-bottom__text За время работы компанией было успешно реализовано свыше 12 000 крупных проектов как в Москве, так и в других городах России и странах СНГ.
    p.common-text-white.showreel-bottom__text Компания ART Polymedia не раз завоевывала престижные награды, такие как EMEA InAVation Awards 2009 и 2014 в Амстердаме, Golden Puzzle ‘09 и PRO Integration Awards 2010-2013.
a(href="").link.link-about Отправить запрос
