.description
  h1.common-h1.about__heading Более 15 лет в деле
  .description-wrapper
    p.common-text-white.description-text Успех любого мероприятия зависит от того, насколько ярко, оригинально и качественно оно будет представлено публике.  Не важно, идет ли речь о деловой конференции, спортивном соревновании или творческом шоу - именно видеопрезентации задают тон и настроение в ходе происходящего действия, надолго оставаясь в памяти зрителей.
    p.common-text-white.description-text Компания ART Polymedia уже более 15 лет специализируется на предоставлении и обслуживании профессиональных систем визуализации на крупных конференциях,  выставках, корпоративных и спортивных мероприятиях.
ul.advantages__list
  li.advantages__item.advantages-item
    svg.icon.advantages-item__img
      use(xlink:href='#cup')
    p.advantages-item__text
      span.blue Высокая квалификация
      span  инженерно-технического состава
  li.advantages__item.advantages-item
    svg.icon.advantages-item__img
      use(xlink:href='#pig')
    p.advantages-item__text
      span.blue Гибкое
      span  ценообразование
  li.advantages__item.advantages-item
    svg.icon.advantages-item__img
      use(xlink:href='#screen')
    p.advantages-item__text
      span.blue Современное
      span  профессиональное оборудование
  li.advantages__item.advantages-item
    svg.icon.advantages-item__img
      use(xlink:href='#controller')
    p.advantages-item__text
      span Решения для управления экранами
      span.blue  любой сложности
  li.advantages__item.advantages-item
    svg.icon.advantages-item__img
      use(xlink:href='#doc')
    p.advantages-item__text
      span.blue Большой опыт
      span  в подготовке тендерной документации
