.header-slider.swiper-container
  .swiper-wrapper
    .swiper-slide.header-slide
      .header-slide__container
        span.header-slide__img-wrapper
          img(src="img/slide.jpg", alt="alt").header-slide__img
        .header-slide__hrefover
          a(href="").header-slide__href
            span Гала-ужины для&nbsp;гостей выставки Metro Expo 2018
    .swiper-slide.header-slide
      .header-slide__container
        span.header-slide__img-wrapper
          img(src="img/slide.jpg", alt="alt").header-slide__img
        .header-slide__hrefover
          a(href="").header-slide__href
            span Гала-ужины для&nbsp;гостей выставки Metro Expo 2018
  .swiper-button-prev.header-slider__btn.header-slider__btn-next
    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='33px' height='31px')
      path(fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M33.000,16.000 L1.873,16.000 L15.988,30.306 L15.293,31.006 L-0.007,15.499 L15.293,-0.009 L15.988,0.691 L1.870,15.000 L33.000,15.000 L33.000,16.000 Z')
  .swiper-button-next.header-slider__btn.header-slider__btn-prev
    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='33px' height='31px')
      path(fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M17.707,31.006 L17.011,30.306 L31.126,16.000 L-0.000,16.000 L-0.000,15.000 L31.129,15.000 L17.011,0.691 L17.707,-0.009 L33.007,15.499 L17.707,31.006 Z')
