
nav.nav
  .nav-container
    .nav-left
      .logo
        img(src="img/logo.png", alt="logo")
      ul.soc-links-list
        li.soc-links-item
          a(href="").soc-links-item__href
            svg.icon.yt
              use(xlink:href='#yt')
        li.soc-links-item
          a(href="").soc-links-item__href
            svg.icon.fb
              use(xlink:href='#fb')
        li.soc-links-item
          a(href="").soc-links-item__href
            svg.icon.twit
              use(xlink:href='#twit')
        li.soc-links-item
          a(href="").soc-links-item__href
            svg.icon.inst
              use(xlink:href='#inst')
      a(href="").link.link-query Отправить запрос
      .search
        svg(class="svg-draw" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24.5px' height='24.5px')
          path(class="svg-draw svg-draw__hover" fill-rule='evenodd' stroke-width='1px' stroke='rgb(255, 255, 255)' fill-opacity='0' fill='rgb(182, 43, 42)' d='M5.845,5.843 C8.974,2.714 14.048,2.714 17.178,5.843 C20.307,8.973 20.307,14.046 17.178,17.176 C14.048,20.306 8.974,20.306 5.845,17.176 C2.715,14.046 2.715,8.973 5.845,5.843 Z')
          path(fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M16.489,17.222 L17.223,16.487 L24.511,23.775 L23.776,24.510 L16.489,17.222 Z')
    .nav-right
      .nav-right-top
        .language
          span.language-item ENG
        .phone
          span.phone-number +7 (495) 956-85-87
      .nav-right-bottom
        ul.navigation
          li.navigation-item
            a(href="").navigation-item__menu Главная
          li.navigation-item
            a(href="").navigation-item__menu О компании
            ul.navigation-submenu
              li.navigation-submenu-item
                a(href="") Генеральный директор
              li.navigation-submenu-item
                a(href="") История
              li.navigation-submenu-item
                a(href="") Награды
              li.navigation-submenu-item
                a(href="") Партнеры
              li.navigation-submenu-item
                a(href="") СМИ о нас
              li.navigation-submenu-item
                a(href="") Реквизиты
              li.navigation-submenu-item
                a(href="") Новости
              li.navigation-submenu-item
                a(href="") Отзывы
          li.navigation-item
            a(href="").navigation-item__menu Портфолио
          li.navigation-item
            a(href="").navigation-item__menu Услуги
          li.navigation-item
            a(href="").navigation-item__menu Контакты
