svg.icon
  use(xlink:href='#puzzle')
svg.icon
  use(xlink:href='#screen')
svg.icon
  use(xlink:href='#sun')
svg.icon
  use(xlink:href='#wave')
svg.icon
  use(xlink:href='#bild')
svg.icon
  use(xlink:href='#camera')
svg.icon
  use(xlink:href='#controller')
svg.icon
  use(xlink:href='#cup')
svg.icon
  use(xlink:href='#cup-num')
svg.icon
  use(xlink:href='#doc')
svg.icon
  use(xlink:href='#fastening')
svg.icon
  use(xlink:href='#feather')
svg.icon
  use(xlink:href='#image')
svg.icon
  use(xlink:href='#lens')
svg.icon
  use(xlink:href='#pig')
svg.icon
  use(xlink:href='#pixel-step')
svg.icon
  use(xlink:href='#projector')


svg.icon
  use(xlink:href='#twitter')
svg.icon
  use(xlink:href='#yt')
svg.icon
  use(xlink:href='#fb')
svg.icon
  use(xlink:href='#inst')

